<div class="card">
  <div class="card-header feature <%= feature['status'] %>"
       data-toggle="collapse" data-target="#<%= fid %>Body" aria-expanded="true" aria-controls="<%= fid %>Body">

    <% if feature['tags'] %>
      <div class="tags">
        <% feature['tags'].each do |tag| %>
          <span class="tag badge badge-secondary"><%= tag['name'] %></span>
        <% end %>
      </div>
    <% end %>

    <% feature['elements']
           .group_by {|scenario| scenario['status']}
           .map {|status, list| [status, list.length]}
           .each do |status, count| %>
      <% color = case status
                           when 'passed'
                             'success'
                           when 'failed'
                             'danger'
                           when 'skipped'
                             'secondary'
                           else
                             'warning'
                           end %>
        <span class="feature-status badge badge-<%= color %>"><%= count %>&nbsp;<%= status %></span>
    <% end %>

    <span class="duration badge badge-light"><%= duration(feature['duration']) %></span>

    <h5>
      <span class="collapse-indicator"></span>
      <%= feature['keyword'] %>:&nbsp;<%= feature['name'] %>
    </h5>
  </div>

  <div class="card-body collapse show" id="<%= fid %>Body">
    <%= get('scenarios').result(binding) %>
  </div>
</div>
