<!DOCTYPE html>
<html>
<%= get('head').result(binding) %>
<body>
<%= get('header').result(binding) %>

<% errors = [] %>

<% gid = 'g0' %>
<% features = groups.first['features'] %>

<main class="container <%= options[:color] %>">
  <section id="overview">
    <%= get('overview').result(binding) %>
  </section>

  <section id="features">
    <%= get('features').result(binding) %>
  </section>
</main>

<%= get('footer').result(binding) %>

<script type="text/javascript" src="https://cdn.jsdelivr.net/gh/wiro34/ReportBuilder@master/js/report.builder.min.js"></script>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
  <%
    colors = (Hash.new { '#999' }).merge(
      working: '#5cb85c',
      broken: '#d9534f',
      incomplete: '#f0ad4e',
      passed: '#5cb85c',
      failed: '#d9534f',
      notdefined: '#999',
      pending: '#999',
      skipped: '#5bc0de',
      ambiguous: '#428bca',
    )
    suite = {
      features: features.group_by { |feature| feature['status'] }
                        .map{ |status, list| [status, [list.length, colors[status.to_sym]]] }
                        .to_h,
      scenarios: features.map{ |f| f['elements'] }
                         .flatten
                         .group_by { |feature| feature['status'] }
                         .map{ |status, list| [status, [list.length, colors[status.to_sym]]] }
                         .to_h
    }
  %>

  google.load('visualization', '1', {packages: ['corechart']});
  google.setOnLoadCallback(function() {
    drawChart('Features', {
      <%= suite[:features].map{|status, count| "'#{status}': #{count}"}.join(', ') %>
    });
  });
  google.setOnLoadCallback(function() {
    drawChart('Scenarios', {
      <%= suite[:scenarios].map{|status, count| "'#{status}': #{count}"}.join(', ') %>
    });
  });
</script>
</body>
</html>
