<div id="<%= sid %>" class="card">
  <div class="card-header scenario <%= scenario['status'] %>"
       data-toggle="collapse" data-target="#<%= sid %>Body" aria-expanded="false" aria-controls="<%= fid %>Body">
    <% if scenario['tags'] %>
      <div class="tags">
        <% scenario['tags'].each do |tag| %>
          <span class="tag badge badge-secondary"><%= tag['name'] %></span>
        <% end %>
      </div>
    <% end %>

    <% color = case scenario['status']
               when 'passed'
                 'success'
               when 'failed'
                 'danger'
               when 'skipped'
                 'secondary'
               else
                 'warning'
               end %>
    <span class="scenario-status badge badge-<%= color %>"><%= scenario['status'] %></span>
    <span class="duration badge badge-light"><%= duration(scenario['duration']) %></span>

    <h5>
      <span class="collapse-indicator"></span>
      <%= scenario['name'] %>
    </h5>
  </div>

  <div class="card-body collapse" id="<%= sid %>Body">
    <% if scenario['before'] %>
      <% scenario['before'].each do |hook| %>
        <%= get('hook').result(binding) %>
      <% end %>
    <% end %>

    <ul class="">
      <% scenario['steps'].each do |step| %>
        <%= get('step').result(binding) %>
      <% end %>
    </ul>

    <% if scenario['after'] %>
      <% scenario['after'].each do |hook| %>
        <%= get('hook').result(binding) %>
      <% end %>
    <% end %>
  </div>
</div>
